##############################
# KEDRO PROJECT
##############################

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore ALL data folders (keep only .gitkeep)
# ignore raw and intermediate data
data/01_raw/**
data/02_intermediate/**
data/03_primary/**
data/04_feature/**
data/05_model_input/**

# BUT allow specific model-input artifacts needed by the app
!data/05_model_input/** 
# (optional if you ever need it in app)
# !data/05_model_input/mt_patients_regression_ready.parquet

# allow models
!data/06_models/**
# but still ignore huge regression intermediate files if needed
# data/06_models/mt_regression/**

# allow model output reporting (safe)
!data/07_model_output/**
!data/08_reporting/**



# ignore kedro-viz metadata
.viz/

# ignore file based logs
*.log

##############################
# Streamlit / Secrets
##############################
.streamlit/secrets.toml

##############################
# Python / Common ignores
##############################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
.coverage
.cache

# mlflow
mlruns/

# Sphinx
docs/_build/

# Notebook exports with potential patient-level data
notebooks/data/**
!notebooks/data/**/
!notebooks/**/.gitkeep

